---
layout: default
title: 标签
permalink: /tags/
---

<div class="tags-page">
  <h1 class="page-title">标签</h1>
  
  {% assign tags = site.tags | sort %}
  <div class="tag-cloud">
    {% for tag in tags %}
    <a href="#{{ tag[0] | slugify }}" class="tag-item" data-count="{{ tag[1].size }}">
      {{ tag[0] }} <span class="count">({{ tag[1].size }})</span>
    </a>
    {% endfor %}
  </div>
  
  <hr class="separator">
  
  {% for tag in tags %}
  <section class="tag-section" id="{{ tag[0] | slugify }}">
    <h2 class="tag-heading">{{ tag[0] }}</h2>
    <ul class="post-list">
      {% for post in tag[1] %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>

